target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
nbproject/
build/

### VS Code ###
.vscode/
.settings/

### OS ###
.DS_Store
Thumbs.db
